* {
    padding: 0;
    margin: 0;
}

body {
    line-height: 1.75em;
    color: #313537;
    background-color: #F3F5F6;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
}

.shortdate {
    display: inline;
}

a:link, a:visited
{
    text-decoration: none;
}

a { text-decoration: none; }

div#content
{
    max-width: 805px;
    margin:auto;
    position: relative;
    display: block;
    padding-top: 30px;
    padding-bottom: 90px;
}

img, .screenshots img.screenshot
{
    max-width: 90%;
    height:auto;
    margin: 0;
    padding: 0;
    display: inline;
    float: left;
    vertical-align: middle;
}

#featuredprojects img
{
    /* image size should be 250 * 180  */
    width: 32%;
    margin: 0;
    padding: 0;
    display: inline;
    float: left;
    vertical-align: middle;
    padding-left: 3px;
}

.screenshots img.screenshot {
    padding: 3px;
}

.screenshots {
    display: inline-block;
    float: none;
}

.post img {
    display: block;
    float: none;
}

.post {
    margin-bottom: 20px;
}


h2.latestpostsheader, a.see-more, .post, .featuedimages, #intro {
    /* temporary to fix mobile tight view */
    padding-left: 12px;
    padding-right: 12px;
}

h2.latestpostsheader {
    padding-top: 40px;
}

#featuredprojects h2.latestpostsheader {
    padding-top: 0;
}

.firstcontent {
    margin-bottom: 80px;
}

.to-top, .footerbuttons {
    text-align: center;
}

.to-top {
    margin-bottom: 40px;
}

.footerbuttons {
    padding-top: 50px;
    font-size: 1.2em;
}

.footerbuttons a {
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 1em;
}

.footerbuttons a .fa {
    -webkit-transition: -webkit-transform .1s ease-out;
    transition: transform .1s ease-out;
}

.footerbuttons a:hover .fa {
    -ms-transform: scale(2.3, 2.3); /* IE 9 */
    -webkit-transform: scale(2.3, 2.3); /* Safari */
    transform: scale(2.3, 2.3);
}

.featured {
    display: inline-block;
}

#header {
    display: block;
    padding-bottom: 40px;
}

#header h1 {
    font-size: 2em;
    display: inline-block;
}

h1 { font-size: 1.7em; }
h2 { font-size: 1.5em; color: #ff7f27; }
h3 { font-size: 1.4em; }

a i.fa-external-link {
    font-size: 0.7em;
    vertical-align: super;
}

#header #toplinks {
    display: block;
}

#header #mainlogo {
    padding: 6px;
    display: inline-block;
}

code {
    font-family: 'Source Code Pro', monospace;
}


.hidden {
    display: none;
}

a:hover .hidden {
    display: inline;
}

.projectlinks a {
    padding-right: 0.6em;
    vertical-align: middle;
}

.projectlinks .fa {
    padding-right: 0.3em;
}


.projectlinks a .fa {
    -webkit-transition: -webkit-transform .1s ease-out;
    transition: transform .1s ease-out;
}

.projectlinks a:hover .fa {
    -ms-transform: scale(2.0, 2.0); /* IE 9 */
    -webkit-transform: scale(2.0, 2.0); /* Safari */
    transform: scale(2.0, 2.0);
}

#toplinks {
    text-transform: lowercase;
}

.main {
    text-transform: capitalize;
    font-size: 2em;
}

.previewheader {
    font-size: 1.5em;
}

.title {
    padding-bottom: .3em;
    width: 80%;
    display: block;
    vertical-align: middle;
}

.title::after {
    content: "";
    clear: both;
    display: table;
}

.title .header {
    float: left;
}

.title .right {
    float: right;
    display: inline;
}
.main .fa {
    font-size: .5em;
}

a img.screenshot {
    -webkit-transition: -webkit-transform .1s ease-out;
    transition: transform .1s ease-out;
}

a:hover img.screenshot {
    -ms-transform: scale(1.2, 1.2); /* IE 9 */
    -webkit-transform: scale(1.2, 1.2); /* Safari */
    transform: scale(1.2, 1.2);
}

.title a .fa {
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
}

.title a:hover .fa {
    -ms-transform: scale(2.0, 2.0); /* IE 9 */
    -webkit-transform: scale(2.0, 2.0); /* Safari */
    transform: scale(2.0, 2.0);
}


div.bigimage {
    width: 100%;
}

div.bigimage img.bigimage {
    width: 100%;
    max-width: 100%;
}

.lntd pre.chroma
{
    padding-left: 0;
}

pre.chroma
{
    border: 0;
    padding-left: 20px;
    line-height: 100%;
}

.emoticon {
    width: 22px;
    height: 22px;
    display: inline-block;
    background-size: contain;
}


.smiley {
    background-image: url(/img/face-smile.png);
}

.wink {
    background-image: url(/img/face-wink.png);
}

.grin {
    background-image: url(/img/face-grin.png);
}

ul.pagination {
    display: block;
    text-align: center;
    padding-bottom: 60px;
}

.pagination li {
    display: inline;
    padding: 10px;
}

.pagination li:first-child, .pagination li:last-child {
    padding: 0;
}

.pagination li {
    display: inline;
    padding: 10px;
}

.pagination li:first-child, .pagination li:last-child {
    padding: 0;
}

a {
    color: #55f;
}

a:hover {
    color: #00f;
}

.pagination .disabled a
{
    color: #aaa;
}

.pagination .active a
{
    color: #000;
}
