{
	padding: 0;
	margin: 0;
}

body {
	line-height: 1.75em;
  color: #313537;
	background-color: #F3F5F6;
  font-family: 'Merriweather Sans', sans-serif;
	font-weight: 300;
}

.shortdate {
	display: inline;
}

a:link, a:visited
{
	text-decoration: none;
}

a {
	color: blue;
	text-decoration: none;
}

div#content
{
	max-width: 805px;
	margin:auto;
	position: relative;
	display: block;
	padding-top: 30px;
	padding-bottom: 90px;
}

img, .screenshots img.screenshot
{
	max-width: 90%;
	height:auto;
	margin: 0;
	padding: 0;
	display: inline;
	float: left;
	vertical-align: middle;
}

#featuredprojects img
{
	/* image size should be 250 * 180  */
	width: 32%;
	margin: 0;
	padding: 0;
	display: inline;
	float: left;
	vertical-align: middle;
	padding-left: 3px;
}

.screenshots img.screenshot {
	padding: 3px;
}

.screenshots {
	display: inline-block;
	float: none;
}

.post img {
	display: block;
	float: none;
}

.post {
	margin-bottom: 20px;
}


h2.latestpostsheader, a.see-more, .post, .featuedimages, #intro {
	/* temporary to fix mobile tight view */
	padding-left: 12px;
	padding-right: 12px;
}

h2.latestpostsheader {
	padding-top: 40px;
}

#featuredprojects h2.latestpostsheader {
	padding-top: 0;
}

.firstcontent {
	margin-bottom: 80px;
}

.to-top, .socialbuttons {
	text-align: center;
}

.to-top {
	margin-bottom: 40px;
}

.socialbuttons {
	padding-top: 50px;
	font-size: 1.2em;
}

.socialbuttons a {
	padding-left: 0.5em;
	padding-right: 0.5em;
	font-size: 1em;
}

.socialbuttons a .fa {
	-webkit-transition: -webkit-transform .1s ease-out;
          transition:         transform .1s ease-out;
}

.socialbuttons a:hover .fa {
	-ms-transform: scale(2.3, 2.3); /* IE 9 */
  -webkit-transform: scale(2.3, 2.3); /* Safari */
  transform: scale(2.3, 2.3);
}

.featured {
	display: inline-block;
}

#header {
	display: block;
	padding-bottom: 40px;
}

#header h1 {
	font-size: 2em;
	display: inline-block;
}

#header #toplinks {
	display: block;
}

#header #mainlogo {
	padding: 6px;
	display: inline-block;
}

pre code {
	font-family: 'Source Code Pro', monospace;
}


.hidden {
	display: none;
}

a:hover .hidden {
	display: inline;
}

.projectlinks a {
	padding-right: 0.6em;
	vertical-align: middle;
}

.projectlinks .fa {
	padding-right: 0.3em;
}


.projectlinks a .fa {
	-webkit-transition: -webkit-transform .1s ease-out;
          transition:         transform .1s ease-out;
}

.projectlinks a:hover .fa {
	-ms-transform: scale(2.0, 2.0); /* IE 9 */
  -webkit-transform: scale(2.0, 2.0); /* Safari */
  transform: scale(2.0, 2.0);
}

#toplinks {
	text-transform: lowercase;
}

.main {
	text-transform: capitalize;
	font-size: 2em;
}

.previewheader {
	font-size: 1.5em;
}

.title {
	padding-bottom: .3em;
	width: 80%
	display: block;
	vertical-align: middle;
}

.title::after {
	content: "";
	clear: both;
	display: table;
}

.title .header {
	float: left;
}

.title .right {
	float: right;
	display: inline;
}
.main .fa {
	font-size: .5em;
}

a img.screenshot {
	-webkit-transition: -webkit-transform .1s ease-out;
					transition:         transform .1s ease-out;
}

a:hover img.screenshot {
	-ms-transform: scale(1.2, 1.2); /* IE 9 */
  -webkit-transform: scale(1.2, 1.2); /* Safari */
  transform: scale(1.2, 1.2);
}

.title a .fa {
	-webkit-transition: -webkit-transform .2s ease-out;
					transition:         transform .2s ease-out;
}

.title a:hover .fa {
	-ms-transform: scale(2.0, 2.0); /* IE 9 */
  -webkit-transform: scale(2.0, 2.0); /* Safari */
  transform: scale(2.0, 2.0);
}


div.bigimage {
	width: 100%;
}

div.bigimage img.bigimage {
	width: 100%;
	max-width: 100%;
}


/* terminal design by http://codepen.io/simoami/pen/zstvo */
.terminal-window {
  text-align: left;
  border-radius: 0px;
	padding: 6px;
}

.terminal-window header {
  background: #E0E8F0;
  height: 30px;
  border-radius: 8px 8px 0 0;
  padding-left: 10px;
	border: 1px solid #AAA;
	border-bottom: 0;
}

.terminal-window header .button {
  width: 12px;
  height: 12px;
  margin: 10px 6px 0 0;
  display: inline-block;
  border-radius: 8px;
}

.terminal-window header .button.green {
  background: #3BB662;
}

.terminal-window header .button.yellow {
  background: #E5C30F;
}

.terminal-window header .button.red {
  background: #E75448;
}

.terminal-window section.terminal {
  color: white;
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
  font-size: 11pt;
  padding: 10px;
}

.terminal-window  pre .language-shell {
  background: #30353A;
	color: white;
}

.terminal-window  pre .language-shell .hljs-meta {
  color: gray;
}

.terminal-window  pre .language-shell .hljs-built_in {
	color: white;
}

.terminal-window  pre .language-shell .hljs-string {
  color: green;
}

.terminal-window .language-shell {
	border: 0;
	padding: 10px
}

.terminal-window pre {
	border: 0;
	padding: 0;
	margin: 0;
}

.emoticon {
	width: 22px;
	height: 22px;
	display: inline-block;
	background-size: contain;
}


.smiley {
	background-image: url(/img/face-smile.png);
}

.wink {
	background-image: url(/img/face-wink.png);
}

.grin {
	background-image: url(/img/face-grin.png);
}

ul.pagination {
	display: block;
	text-align: center;
	padding-bottom: 60px;
}

.pagination li {
	display: inline;
	padding: 10px;
}

.pagination li:first-child, .pagination li:last-child {
	padding: 0;
}

.pagination a:hover {
	font-weight: bold;
}

.pagenumber {
	width: 100%;
	height: 13px;
	border-bottom: 1px solid black;
	text-align: center;
	margin-top: 90px;
	margin-bottom: 90px
}

.pagenumber span {
	font-size: 1.1em;
	padding: 0 10px;
	background-color: #F3F5F6; /* same as background */
}


#spinner {
	margin-left: auto;
  margin-right: auto;
	width: 50px;
	display: none;
}
